<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nsergey.courier.db.mapper.CallCenterTaskMapper">

    <resultMap id="taskResultMap" type="com.nsergey.courier.db.model.Task">
        <id column="id" property="id"/>
        <result property="orderId" column="order_id"/>
        <result property="created" column="created"/>
    </resultMap>

    <insert id="addOrderRescheduleTask">
        INSERT INTO call_center_tasks (order_id)
        VALUES (#{orderId})
    </insert>

    <select id="findAll" resultMap="taskResultMap">
        SELECT
            id,
            order_id,
            created
        FROM call_center_tasks
    </select>

</mapper>